body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundAnimation 3s infinite;
    background-image: radial-gradient( rgb(15, 15, 135), rgb(131, 7, 27), black,green);
    background-size: 400% 400%;
    color: white;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(21, 226, 245, 0.9);
    width: 300px; 
    height: 300px;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(3px);
    text-align: center;
    color: white;
     /* width: 300px;  */
    /* height: 200px; */
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
}

input {
    width: 200px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qrcode {
    margin-top: 20px;
}
