* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2d2f3;
}

.stopwatch-container {
    text-align: center;
    background-color: #1d1b1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(237, 6, 6, 0.9);
    height: 49%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.time {
    font-size: 3em;
    margin: 20px 0;
    font-weight: bold;
    color: antiquewhite;
}

.controls button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 6%;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
  background: white;
    color: black;
}

.controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.resetValue{
    color:antiquewhite;
}